<!DOCTYPE html>
<html lang="en" th:replace = "~{base :: parent(~{:: #content}, ~{::title},~{::script})}">
<head>
	
	<title data-th-text="${loggedlnUser.name}+ '| Dashboard'">dashboard Page</title>
    
</head>
<body>
	<div id="content">
		
			<!--This is for logged-in user : Side-bar-->
			<div th:if="${loggedlnUser}">
				<div data-th-replace="~{user/sidebar :: sidebar}"></div> <!-- This is another way of replacing content-->
			
			</div>
		
	<!--This is main content-->
	
		<div  class="sm:pl-64 pt-20" style="height: 1000px">
			<div class="flex justify-center flex-col items-center ">
		
				<h1 class="text-5xl">Welcome to dashboard page</h1>
				
				<h1 data-th-text ="${loggedlnUser.name}"></h1>
				<h1 data-th-text ="${loggedlnUser.email}"></h1>
						
		
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, recusandae. Dignissimos, porro ipsam hic ad
					enim
					voluptatum. Ea, aliquam quod!</p>
		
				<button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-green-700">click me</button>
		
			</div>
		
		</div>
		    
		
	</div>
	
	<script>
			     console.log("This is profile  page");
		  </script>
	    
</body>
</html>


